body {
	padding-top: 50px;
}

.profile {	
	padding-top: 20px;
}

.title {
	text-align: center;
	background-color: rgba(155, 170, 173, 0.49);;
}

h3 {
	margin-top: 0;
}

.menu {
	padding-top: 230px;		
	padding-left: 200px;
	float: left;
}

#Carousel {
	margin-top: 30px;
}